<div class='container'>
  <div class='row'>

    <div class='col-md-3'>  <!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-9'> <!--メインコンテンツ-->
      <h2 class ="font-weight-bold">
        <i class="fa-solid fa-image"></i>投稿詳細ページ
      </h2>

      <div class="row">
        <div class="col-6"> <!--投稿写真と日付-->
          <%= image_tag @post.get_image, size: '300x300', class:"rounded" %><br>
            <i class="fa-solid fa-calendar-days fa-sm "></i>
          <%= @post.created_at.strftime('%Y年%m月%d日 %H:%M') %>
        </div>

        <div class="col-6">
          <div class="row justify-content-between">
            <div><!--ユーザーアイコンと名前-->
              <%= link_to(@post.user) do %>
                <%= image_tag @post.user.get_profile_image, size:'50x50',class:"rounded-circle" %>
              <% end %>
              <%= @post.user.name%>
            </div>
            <div class="m-2"><!--動的ボタン　編集削除orフォロー-->
              <% if @post.user == current_user %>
                <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-outline-success edit_post_#{@post.id}" %>
                <%= link_to "削除", @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger" %>
              <% else %>
                <%= render 'public/relationships/btn', user: @user %>
              <% end %>
            </div>
            <div class="m-2"><!--いいね-->
              <%= render "public/favorites/btn", post: @post %>
            </div>
          </div>
            <p class ="lead mt-3"> <!--本文-->
              <%= @post.body %>
            </p>
        </div>

      </div>

      <div class="justify-content-center mt-5 "><!--コメント-->
        <h4 class="m-2">
          総コメント数<strong> <%= @post.comments.count %></strong>件</h4>
        <%= render 'public/comments/index', post: @post,comment: @comment %><br>
        <%= render 'public/comments/form', post: @post,comment: @comment %>
      </div>

    </div>
  </div>
</div>

