<%= render "public/shared/error_messages", resource: resource %>
<div class="container bg-light">
  <div class="col-6 mx-auto my-5">

    <h2 class="font-weight-bold text-center">新規登録</h2>
    <div class="text-center">
      <%= render 'layouts/logo' %>
    </div>

    <div class="form-body p-4 text-center">
      <%= form_with(model: resource, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.text_field :name, placeholder: "名前", autofocus: true, autocomplete: "name",class: "form-control mx-auto m-1" %>
        </div>

        <div class="field">
          <%= f.email_field :email, placeholder: "Eメール", autofocus: true, autocomplete: "email",class: "form-control mx-auto  m-1" %>
        </div>

        <div class="field">
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, placeholder: "パスワード(6文字以上)", autocomplete: "new-password",class: "form-control mx-auto m-1" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "パスワード(確認用)",autocomplete: "new-password",class: "form-control mx-auto m-1" %>
        </div>

        <div class="actions">
          <%= f.submit "はじめる",class: "btn btn-sm btn-outline-success m-1" %>
        </div>
      <% end %>
      <p>すでに会員の方は<%= render "public/shared/links" %></p>
    </div>

  </div>
</div>