<div class='container'>
  <div class='row'>

    <div class='col-md-3 my-3'><!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-9'><!--メインコンテンツー-->
      <h2 class="font-weight-bold my-3">
        登録ユーザー一覧
      </h2>
      <table class='table table-hover table-inverse'>
        <% @users.each do |user| %>
          <tr>
            <td> <!--プロフ画像と名前ー-->
              <%= link_to admin_user_path(user) do %>
                <%= image_tag user.get_profile_image, size: '50x50', class:"rounded-circle" %><br>
              <% end %>
              <%= user.name %>
            </td>
            <td><!--自己紹介と登録日-->
              <i class="fa-solid fa-calendar-days " style="color: #2F5E63;"></i>
              <%= user.created_at.strftime('%Y年%m月%d日') %><br>
              <%= user.introduction %>
            </td>
          </tr>
        <% end %>
      </table>
        <%= paginate @users %>
    </div>
  </div>
</div>