<div class='container'>
  <div class='row'>

    <div class='col-md-3 my-3'><!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-9'><!--メインコンテンツー-->
      <h3 class="font-weight-bold my-3">
        <i class="fa-solid fa-user fa-sm" ></i>
        <%= @user.name %> さんの情報
      </h3>

      <div class="row">
        <div class="col-4"><!--プロフ画像と登録日-->
          <%= image_tag @user.get_profile_image, size: '150x150' %><br>
          <i class="fa-solid fa-calendar-days " style="color: #2F5E63;"></i>
          <%= @user.created_at.strftime('%Y年%m月%d日') %><br>
          <p><%= @user.followings.count %>フォロー中</p>
          <p><%= @user.followers.count %>フォロワー</p>
        </div>

        <div class="col-8">
          <div class ="row justify-content-end">
            <%= link_to 'アカウント削除',admin_user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger btn-lg " %>
            <div class="py-5">
              <%= @user.introduction %>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
