<div class="d-flex flex-column bg-light">
  <ul class="nav nav-pills flex-column mb-auto">

    <% if user_signed_in? %> <!--サインイン時-->
      <li class="nav-item">
        <%=  link_to posts_path ,class: 'btn' do %>
          <i class="fa-solid fa-house fa-xl " style="color: #2F5E63;"> ホーム</i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to user_path(current_user),class: 'btn' do %>
          <i class="fa-solid fa-user fa-xl " style="color: #2F5E63;"> プロフィール</i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to edit_user_path(current_user),class: 'btn' do %>
          <i class="fa-solid fa-gear fa-xl " style="color: #2F5E63;"> 設定</i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to new_post_path ,class: 'btn' do %>
          <i class="fa-solid fa-circle-plus fa-xl" style="color: #2F5E63;"> 投稿</i>
        <% end %>
      </li>


 <% else admin_signed_in? %> <!--Admin時-->
      <li class="nav-item">
        <%= link_to admin_root_path,class: 'btn ' do %>
          <i class="fa-solid fa-house fa-xl" style="color: #2F5E63;"></i> 管理者ホーム
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to admin_users_path,class: 'btn ' do %>
          <i class="fa-solid fa-user fa-xl" style="color: #2F5E63;"></i> ユーザー一覧
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to destroy_admin_session_path, method: :delete, class: 'btn' do %>
          <i class="fas fa-sign-out-alt fa-xl" style="color: #2F5E63;"></i> 管理者ログアウト
        <% end %>
      </li> 
    <% end %>
  </ul>
</div>